<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/message_border.css">
    
    <title>Message Border</title>
</head>
<body>
    <main>
        <h3>請張貼圖片與文字</h3>
        <div class="upload_profile">
            <label for="file-uploader" class="file-uploader">上傳圖片：</label>
            <input type="file" id="file-uploader" accept="image/gif, image/jpeg, image/png">
        </div>
        <div class="profile_pic_container">
            <img id="profile_pic" class="profile_pic">
        </div>
        <div>
            <label for="content">文字內容：</label>
            <input type="text" id="content" name="content">
        </div>
        <button class="sendData">送出</button>
        <hr>
    </main>
    <article>

    </article>
    <script src="/js/message_border.js"></script>
</body>
</html>